$dark-black: #1b1f22ff;
$mid-gray: #424b54ff;
$light-gray: #a9b9c9ff;
$dark-blue: #34566fff;
$mid-blue: #6d98baff;
$light-blue: #96D2FFFF;
$white: #f8ffffff;
$dark-white: #ebf5f5ff;
$highlight: #B51919ff;