$dark-black: #1b1f22ff;
$mid-gray: #424b54ff;
$extra-light-gray: #E3E3E3ff;
$light-gray: #a9b9c9ff;
$dark-blue: #34566fff;
$mid-blue: #6d98baff;
$light-blue: #96D2FFFF;
$white: #f8ffffff;
$dark-white: #ebf5f5ff;
$highlight: #B51919ff;

$mobile-width: 870px;

$youth-color:    #00c9c9;
$deacons-color:  #6680ff;
$teachers-color: #3344ff;
$preists-color:  #0000b3;
$ym-color:       #080066;
$yw12_13-color:  #cc66ff;
$yw14_18-color:  #8600b3;
$yw-color:       #550066;