@import 'variables';

:export {
  darkBlack: $dark-black;
  midGray: $mid-gray;
  lightGray: $light-gray;
  darkBlue: $dark-blue;
  midBlue: $mid-blue;
  lightBlue: $light-blue;
  white: $white;
  darkWhite: $dark-white;
  highlight: $highlight;
}