@import 'variables';

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 1.8em;
  }
  button {
    font-family: inherit;
    margin-bottom: 1.25em;
    padding: 0.5em;
    font-size: 1.15em;
    border-radius: 0.8em;
    border: 1px solid $mid-blue;
    background-color: $dark-blue;
    color: $white;
  }
}
