@import 'variables';

nav.main-nav {
  background-color: $mid-gray;
  color: $white;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  .nav-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .nav-title-wrapper {
      align-self: flex-end;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      
    }
    .nav-title {
      margin-left: 2em;
      margin-right: 2em;
      height: fit content;
      white-space: nowrap;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    ul.nav-items {
      display: flex;
      list-style-type: none;
      height: fit-content;
      padding: 0em 1em;
      white-space: nowrap;
      li {
        a.nav-link {
          border-radius: 0.5em;
          padding: 0.2em 0.25em 0.3em 0.25em;
          font-size: 1.1em;
        }
      }
    }
    border-bottom: 3px solid $mid-blue;
  }
}

a.nav-link,
.font-icon {
  cursor: pointer;
  &:hover {
    color: $mid-blue;
    text-shadow: 0px 0px 0.5em $dark-black;
    text-decoration: underline;
  }
  &:active,
  &:focus {
    color: $light-blue;
    text-shadow: none;
  }
}

@media screen and (min-width: ($mobile-width + 1px)) {
  nav.main-nav > .nav-inner {
    height: 5em;
    .font-icon {
      display: none;
    }
    ul.nav-items {
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 10px;
      li {
        margin-right: 0.5em;
      }
    }
  }
}

@media screen and (max-width: $mobile-width) {
  nav.main-nav > .nav-inner {
    height: auto;
    flex-direction: column;
    .font-icon {
      // margin: 1em 1em 0em 0em;
      float: right;
      width: 2em;
      height: 2em;
      &.collapsed {
        margin: 0 1em 0 0;
      }
    }
    .nav-title-wrapper{
      width:100%;
    }
    .nav-list-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      align-self: flex-end;
      padding-right: 0.5em;
      ul.nav-items {
        align-items: flex-end;
        padding-right: 0px;
        &.collapsed {
          display: none;
        }
        flex-direction: column;
        li {
          margin-bottom: 0.5em;
          a.nav-link {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
