@import 'variables';

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1em 0;
  em{
    font-size: 0.9em;
  }
  
  h1,h2,h3,p,em{
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
  }
  .bottom-margin{
    margin-bottom: 1em;
  }
  .widget-container{
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 30rem;
    margin-right: 1rem;
    .refresh{
      cursor: pointer;
      &:active{
        transform: rotate(-360deg);
        transition: transform .2s;
        cursor: wait;
      }
    }
    .ss-widget{
      border: none;
      width: 100%;
    }
  }
}
